SIMPLE APIs

RandomUsers

In [2]:
from randomuser import RandomUser
import pandas as pd

r = RandomUser()
lista_usuarios = r.generate_users(5)

for user in lista_usuarios:
    print(user.get_picture())

https://randomuser.me/api/portraits/women/55.jpg
https://randomuser.me/api/portraits/women/68.jpg
https://randomuser.me/api/portraits/women/87.jpg
https://randomuser.me/api/portraits/women/21.jpg
https://randomuser.me/api/portraits/men/89.jpg

In [3]:
def get_users():
    users= []

    for user in RandomUser.generate_users(10):
        users.append({'Name': user.get_full_name(),
                      'Gender': user.get_gender(),
                      'City': user.get_city()})
        
    return pd.DataFrame(users)

get_users()
df1 = pd.DataFrame(get_users())

                 Name  Gender                City
0  Alexander Lévesque    male           Melbourne
1       Samir Lecomte    male         Steinhausen
2   Kylian Carpentier    male  Asnières-sur-Seine
3     Gonca Karabulut  female             Karabük
4         Nadia Denis  female      Sutz-Lattrigen
5      Jitendra Silva    male             Barueri
6     Leana Rodriguez  female            Poitiers
7          Noémie Roy  female           Stratford
8     Emre Arslanoğlu    male            Nevşehir
9        Sienna White  female           Whanganui

FruitVice

In [12]:
import requests
import json

data = requests.get("https://fruityvice.com/api/fruit/all")
results = json.loads(data.text)
pd.DataFrame(results)
df2 = pd.json_normalize(results)
df2.head()

banana = df2.loc[df2['name']=="Banana"]
banana.iloc[0]['nutritions.protein']

1.0