In [1]:
import pandas as pd

In [3]:
data = "adult_data.csv"

df_adult = pd.read_csv(data)
df_adult.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [6]:
df_adult.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [38]:
df_adult.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [132]:
# ¿Cual es la cantidad de personas por raza?
df_adult['race'].value_counts().to_list()

[27816, 3124, 1039, 311, 271]

In [18]:
# ¿Cual es la edad promedio para los hombres?
df_adult.loc[df_adult['sex'] == 'Male','age'].mean()

39.43354749885268

In [37]:
# ¿Cual es el porcentaje de personas que tienen un 'Bachelors' degree?
(df_adult.loc[df_adult['education']=='Bachelors'].shape[0] / df_adult['education'].value_counts().sum()) * 100

16.44605509658794

In [65]:
# ¿Cual es el porcentaje de personas con educacion avanzada (Bachelors, Masters, or Doctorate)?
educacion_avanzada = df_adult.loc[(df_adult['education']=='Bachelors')|(df_adult['education']=='Masters') | (df_adult['education']=='Doctorate')].shape[0] / df_adult['education'].value_counts().sum() * 100
print(educacion_avanzada)
# ¿Porcentaje de personas sin educacion avanzada?
educacion_media = df_adult.loc[~(df_adult['education']=='Bachelors') & ~(df_adult['education']=='Masters') & ~(df_adult['education']=='Doctorate')].shape[0] / df_adult['education'].value_counts().sum() * 100
print(educacion_media)

23.006050182733944
76.99394981726606

In [140]:
educacion_avanzada = df_adult['education'].value_counts()
print(educacion_avanzada)

HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64

In [144]:
educacion_media = df_adult.loc[~(df_adult['education']=='Bachelors') & ~(df_adult['education']=='Masters') & ~(df_adult['education']=='Doctorate'),'education'].value_counts().sum()
print(educacion_media)

25070

In [54]:
# ¿Cual es el porcentaje de personas con educacion avanzada (Bachelors, Masters, or Doctorate) y ganan mas de 50K (salary)?
educacion_avanzada = df_adult.loc[(df_adult['salary'] == '>50K') & (df_adult['education']=='Bachelors')|(df_adult['education']=='Masters') | (df_adult['education']=='Doctorate')].shape[0] / df_adult['education'].value_counts().sum() * 100
print(educacion_avanzada)
# ¿Porcentaje de personas sin educacion avanzada y mas de 50K?
educacion_media = df_adult.loc[(df_adult['salary'] == '>50K') & ~(df_adult['education']=='Bachelors') & ~(df_adult['education']=='Masters') & ~(df_adult['education']=='Doctorate')].shape[0] / df_adult['education'].value_counts().sum() * 100
print(educacion_media)

13.381038665888639
13.374896348392248

In [130]:
# ¿Cual es el numero minimo de horas que una persona trabaja por semana? 
df_adult['hours-per-week'].min()

1

In [131]:
# ¿Cual es el porcentaje de personas que trabaja el minimo numero de horas por semana y tiene salario de >50K?
df_adult.loc[(df_adult['hours-per-week'] == 1) & (df_adult['salary']== '>50K')].shape[0] / df_adult.loc[(df_adult['hours-per-week'] == 1)].shape[0] * 100

10.0

In [148]:
# ¿Que pais tiene el porcentaje mas alto de personas que ganan >50K?
df_adult.loc[df_adult['salary'] == '>50K','native-country'].value_counts()

United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Italy                   25
Cuba                    25
Japan                   24
Taiwan                  20
China                   20
Iran                    18
South                   16
Puerto-Rico             12
Poland                  12
France                  12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Hong                     6
Yugoslavia               6
Ireland                  5
Vietnam                  5
Portugal                 4
Haiti                    4
Ecuador                  4
Thailand                 3
Hungary                  3
Guatemala                3
Scotland                 3
Nicaragua                2
Trinadad&Tobago          2
Laos                     2
Columbia                 2
Dominican-Republic       2
Peru                     2
Honduras                 1
Name: native-country, dtype: int64

In [152]:
df_adult.loc[(df_adult['salary'] == '>50K')&(df_adult['native-country']=='Iran')].shape[0]

18

In [103]:
# ¿Que pais tiene el porcentaje mas alto de personas que ganan >50K y cual es el porcentaje?
df_adult.loc[df_adult['salary'] == '>50K','native-country'].value_counts()[0] / df_adult.shape[0] * 100

22.023279383311323

In [121]:
# Identifica la ocupacion mas popular for los que ganan >50K in India.
df_adult.loc[(df_adult['native-country'] == 'India') & (df_adult['salary']== '>50K'),'occupation'].value_counts().index[0]

'Prof-specialty'